<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="menu">

    <div class="menu-container">
        <ul class="menu">
            <li><a href="/admin/content">Main Home</a></li>
            <li><a href="#">Mobility</a>
                <ul>
                    <li><a href="#">TAP! - Regions</a></li>
                    <li><a href="#">TAP! - FAQ</a></li>
                </ul>
            </li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Settings</a>
                <ul>
                    <li><a href="#">Manager</a></li>
                    <li><a href="#">Menu</a></li>
                    <li><a href="#">Pop-up</a></li>
                    <li><a href="#">Footer</a></li>
                    <li><a href="#">Google Analytics</a></li>
                </ul>
            </li>
            <li><a href="#">Open Dataset</a></li>
        </ul>
    </div>

    <div class="left-menu-container">
        <ul class="left-menu">
            <li><a href="/admin/content">Main Home</a></li>
            <li><a href="#">Mobility</a>
                <ul>
                    <li><a href="#">TAP! - Regions</a></li>
                    <li><a href="#">TAP! - FAQ</a></li>
                </ul>
            </li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Settings</a>
                <ul>
                    <li><a href="#">Manager</a></li>
                    <li><a href="#">Menu</a></li>
                    <li><a href="#">Pop-up</a></li>
                    <li><a href="#">Footer</a></li>
                    <li><a href="#">Google Analytics</a></li>
                </ul>
            </li>
            <li><a href="#">Open Dataset</a></li>
        </ul>
    </div>
</div>
</body>
</html>
